<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <script>
    </script>
</head>
<body>
    <div> 안녕하세요! </div>
    <a href="auth/logout"><button>로그아웃</button></a>
    <a href="login"><button>로그인</button></a>
    <div><a href="post"><button>게시판</a></button></div>
</body>
</html>