<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('id_error')) {
                alert('이미 존재하는 아이디입니다.');
            }else if (new URL(location.href).searchParams.get('nick_error')) {
                alert('이미 존재하는 닉네임입니다.');
            }
        };
    </script>
</head>
<body>
    <form action="/auth/join" method="post">
        <input id="email" name="email" type="email" placeholder="이메일"><br>
        <input id="password" name="password" type="password" placeholder="비밀번호"><br>
        <input id="nick" name="nickname" type="text" placeholder="닉네임"><br></div>
        <input id="address" name="address" type="text" placeholder="주소"><br>
        <button type="submit">회원가입</button>
    </form>
</body>
</html>